.dsc-category {
    background-color: var(--dsc-color-bg-tertiary);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    color: var(--dsc-color-font-tertiary);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}